@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=Raleway:wght@300&display=swap');
:root {
  --font_titles: 'Raleway', sans-serif;
  --font_primary: 'Nunito', sans-serif;
  --font_size_base: 16px;
  --line_height_base: 18px;
  --color_primary_constrast: #fff;
  --color_primary: #444;
}

@media (min-width: 768px) {
  :root {
    --font_size_base: 24px;
    --line_height_base: 28px;
  }
}

@media (min-width: 992px) {
  :root {
    --font_size_base: 16px;
    --line_height_base: 18px;
  }
}

@media (min-width: 1480px) {
  :root {
    --font_size_base: 18px;
    --line_height_base: 24px;
  }
}

@media (min-width: 1900px) {
  :root {
    --font_size_base: 24px;
    --line_height_base: 28px;
  }
}

#root {
  font-family: var(--font_primary);
  position: relative;
  z-index: 1;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-size: var(--font_size_base);
  line-height: var(--line_height_base);
  font-weight: 300;
  background-color: var(--color_primary_constrast);
  color: var(--color_primary);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.title-font {
  font-family: var(--font_titles);
  font-weight: 300;
}

.primary-font {
  font-family: var(--font_primary);
  font-weight: 300;
}

strong, em {
  font-family: var(--font_primary);
  font-weight: 600;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3.1rem;
  }
}



.dot_decoration::after {
  content: '.';
}