.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_background {
  opacity: .2;
  filter: grayscale(1);
}

.main_title {
  font-size: 3rem;
  line-height: 4rem;
  color: #333;
  text-transform: uppercase;
  font-family: var(--font_titles);
  position: relative;
}

.main_title :after {
  content: '';
  position: absolute;
  bottom: 0;
  height: .1rem;
  width: 0%;
  background-color: #666;
  left: 50%;
  transform: translate(-50%);
  transition: width 200ms;
}

.main_title:hover :after {
  width: 100%;
  transition: width 200ms;
}

@media (min-width: 768px) {
  .main_title {
    font-size: 5rem;
    line-height: 5rem;
  }
}