.grid {
    position: relative;
    z-index: 1;
    padding: 7rem 10% 3rem;
}

.page_footer {
    position: relative;
    margin-top: 5rem;
}

.page_footer h2 {
    text-transform: uppercase;
    font-size: 1.9rem;
    line-height: 2.2rem;
    margin-bottom: 0.7rem;
}

.page_footer p {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.page_footer a {
    display: block;
    margin: .5rem 0;
    font-size: .8rem;
}

.no_data_container {
    margin: 4rem 0;
}

.no_data_container h2 {
    font-family: var(--font_titles);
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.no_data_container p {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.no_data_container a {
    font-family: var(--font_titles);
    font-weight: 300;
    font-size: .8rem;
    text-decoration: underline;
}

.post_container {
    margin: 2rem 0 5rem;
}

.post_container .header_post h1 {
    font-size: 1.9rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: .3rem;
}

.post_container .header_post p {
    font-size: .7rem;
    line-height: 1rem;
    margin-bottom: 2rem;
}

.content_post p {
    margin: 1rem 0;
}

.content_post ul, .content_post ol, .content_post ul, .content_post li {
    padding-left: 1rem;
}

.content_post ul {
    margin: 2rem 0 2rem 1.5rem;
    list-style: disc;
}

.content_post ol {
    list-style: decimal;
    margin: 2rem 0 2rem 1.5rem;
}

.content_post li {
    margin: .5rem 0; 
}

.content_post h1, .content_post h2 {
    margin: 2rem 0;
}

.content_post h3, .content_post h4 {
    margin: 1.5rem 0;
}

.content_post a {
    text-decoration: underline;
}

.footer_post {
    margin-top: 3rem;
}

.footer_post h4 {
    margin-bottom: 1rem;
}

.footer_post a {
    margin-top: 1rem;
    display: block;
    font-size: .9rem;
    text-decoration: underline;
}

.image_background {
    position: relative;
    display: block;
    width: 100%;
}

.posts_selected_container {
    margin: 3rem 0;
}

.posts_selected_container li {
    list-style: disc;
    padding-left: .5rem;
    margin-left: 1.5rem;
}

.posts_selected_container a {
    margin: 1rem 0;
    display: block;
}

.posts_selected_container a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .footer_post {
        margin-top: 5rem;
    }

    .footer_post h4 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .page_footer h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .post_container .header_post h1 {
        font-size: 3.5rem;
        line-height: 3.8rem;
    }
}

@media (min-width: 1200px) {
    .grid {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .page_footer {
        margin-top: 2rem;
        max-width: 640px;
        margin-left: 3%;
        padding: 1rem 2rem 2rem;
    }

    .page_footer h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .page_footer p {
        font-size: .9rem;
        line-height: 1rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    .image_background {
        max-width: 250px;
    }
}


@media (min-width: 1500px) {
    .page_footer {
        flex-grow: 1;
    }

    .image_background {
        max-width: 450px;
    }
}